GEMINI_API_KEY=AIzaSyCuJujqLgedBN-siPT58ZsbYclI-tOJhog
SUPABASE_URL=https://iecdrmpmieuetnsvzrsk.supabase.co/rest/v1/
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImllY2RybXBtaWV1ZXRuc3Z6cnNrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY3OTcyMDEsImV4cCI6MjA5MjM3MzIwMX0.NUhc8GYlB0-0AkVg6QZp-yhtgMLH-UZk0doJUFVoV8o

# Email Agent Config (Use Gmail App Passwords)
EMAIL_SENDER=your_gmail@gmail.com
EMAIL_PASSWORD=your_gmail_app_password
